build
dist
simulation_results
.vscode
.nfs*
*.zarr
pyrossgeo/*.c
pyrossgeo/*.cpp
pyrossgeo/*.html
pyrossgeo/*.so
pyrossgeo/mft/*.c
pyrossgeo/mft/*.html
pyrossgeo/mft/*.so
__pycache__
.ipynb_checkpoints
sim_data
.~lock*
dev